<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
  
<suite name="Suite1" verbose="1" >
  <test name="Nopackage" >
    <classes>
       <class name="com.us.testng.Test1" />
       <class name="com.us.testng.Test2" />
       <class name="com.us.testng.Test3" />
    </classes>
  </test>
 
</suite>


